<div class="container" style="max-width: 100%;">
    <div class="row">
        <div class="col-xs-12">
            <form #f="ngForm" (ngSubmit)="onSearch(searchString.value, status.value)">
                <div class="row">
                    <div class="col-md-6">
                        <input 
                            class="form-control" 
                            type="text" 
                            placeholder="Project name, number"
                            ngModel
                            name="searchString"
                            #searchString>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control" name="status" name="status" #status [ngModel]="'new'">
                            <option *ngFor="let status of projectStatus" [value]="status">{{ status|uppercase }}</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary btn-block" type="submit">Search</button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-default btn-block" type="button" (click)="onResetForm(f)">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr/>
    <div class="row">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>Project Number</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Customer</th>
                    <th>Start Date</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let project of projects">
                    <td>
                        <input type="checkbox" name="projectId" [value]="project.projectNumber" appCheckbox>
                    </td>
                    <td>
                        {{ project.projectNumber }}
                    </td>
                    <td>
                        {{ project.projectName }}
                    </td>
                    <td>
                        {{ project.projectStatus|statusPipe }}
                    </td>
                    <td>
                        {{ project.customer }}
                    </td>
                    <td>
                        {{ project.startDate|date }}
                    </td>
                    <td>
                        <a appToggleTrashCan>
                            <i class="fas fa-trash-alt" style="color: orangered"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>